@page "/"

<PageTitle>About Me</PageTitle>

<h1>TJ Higley</h1>

<h2>About Me</h2>
<h5>School/Work</h5>
<p>Hello, my name is TJ Higley. I am 19 years old and I go to school at Weber State University. My major is computer science. I also am getting a minor in mathematics. My dad is a software developer for the company Fusion Imaging. Fusion Imaging creates prints for events like trade shows. I work with my dad as his sort of apprentice. Right now, I am working on recreating the internal order managing website for employees. This involves a lot of database management. The website uses the Blazor web framework, just like this one.</p>
<h5>Hobbies/Interests</h5>
<p>I like to play video games. I like to play strategy video games, especially 4x and grand strategy games. I really enjoy games from Paradox Interactive, such as Hearts of Iron IV, Crusader Kings III, and Stellaris. I also enjoy a lot of other games. I don't really like the mainstream games. Another interest of mine is playing guitar. I have an acoustic, electric, and bass guitar. I really enjoy playing the acoustic guitar. My favorite band is called Have a Nice Life. They're pretty underground. I also like to code in my free time. I like to create games on Roblox. The IDE that Roblox provides makes it very easy, and Lua, the programming language that is used, is very easy to learn.</p>

<h5>My Top 5 Favorite Video Games</h5>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Hearts of Iron IV</td>
            <td>Strategy</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rimworld</td>
            <td>Colony Builder</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Minecraft</td>
            <td>Survival</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Crusader Kings III</td>
            <td>Strategy</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Stellaris</td>
            <td>Strategy</td>
        </tr>
    </tbody>
</table>

<figure>
    <img src="images/1232.png" alt="Hearts of Iron IV">
    <figcaption>Hearts of Iron IV</figcaption>
</figure>
<figure>
    <img src="images/games_rimworld.png" alt="Rimworld">
    <figcaption>Rimworld</figcaption>
</figure>
